<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unityprima.smsstattion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="READ_PHONE_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.unityprima.smsstattion.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unityprima.smsstattion.SettingActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <receiver android:name="com.unityprima.smsstattion.receiver.StartUpReceiver">  
            <intent-filter>  
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>  
        </receiver>
        <receiver android:name="com.unityprima.smsstattion.receiver.SMSStationReceiver" android:exported="false">  
            <intent-filter>  
                <action android:name="UNITYPRIMA_SMS_ACTION" android:exported="false"/>
            </intent-filter>  
        </receiver>
        <receiver android:name="com.unityprima.smsstattion.receiver.SMSReceiver" android:exported="false">  
            <intent-filter>  
                <action android:name="SMS_SEND_ACTIOIN" android:exported="false"/>
                <action android:name="SMS_DELIVERED_ACTION_A" android:exported="false"/>
            </intent-filter>  
        </receiver>
        <service android:name="com.unityprima.smsstattion.service.MonitorPowerService"  android:enabled="true"/>
        <service android:name="com.unityprima.smsstattion.service.SMSStationService" android:enabled="true"/>
        <service android:name="com.unityprima.smsstattion.service.SMSIntentService" android:exported="false">
            <intent-filter >
                <action android:name="UNITYPRIMA_SMS_INTENT_SERVICE" android:exported="false"/>
            </intent-filter>
        </service>
        <meta-data android:name="AA_DB_NAME" android:value="unityprima_sms.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>

</manifest>
